<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1049629519339-40jtmj7j26uqp0bjueumahl4mnr33a1v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1049629519339-40jtmj7j26uqp0bjueumahl4mnr33a1v</string>
	<key>API_KEY</key>
	<string>AIzaSyCKh7ANZZnb49-xai0vWasCew-tcfVbZS4</string>
	<key>GCM_SENDER_ID</key>
	<string>1049629519339</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.skunk.ZipMap</string>
	<key>PROJECT_ID</key>
	<string>zipmap-cd77c</string>
	<key>STORAGE_BUCKET</key>
	<string>zipmap-cd77c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1049629519339:ios:ca73f1ad3f541924</string>
	<key>DATABASE_URL</key>
	<string>https://zipmap-cd77c.firebaseio.com</string>
</dict>
</plist>